* {
  transition: all 0.1s;
}

/* Hero */
.hero.is-mono {
  background-color: #303030;
}
.hero.is-mono *:not(a) {
  color: #ffffff;
}
.hero.is-mono a:hover {
  color: #40a0fd;
}

/* Image Container */
.img-container {
  text-align: center;
  background-size: contain;
}
.img-container>img {
  display: block;
  object-fit: contain;
}
.img-container>img:not([src=""]) {
  width: 100%;
}
.img-container>img:not([src=""]) + p {
  display: none;
}
.img-container>img[src=""] {
  display: none;
}


.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}

.custom-file-input {
	width: 60%;
	margin: 0 auto;
	background: #40a0fd;
	color: white;
	text-align: center;
	padding: 0.5em;
	font-weight: bold;
}

.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}

