<!DOCTYPE html>
<html>
<head>
  <title>{{.AppName}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="/assets/css/index.css" />
  <script defer src="//use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script type="text/javascript" src="/assets/js/index.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css"/>
</head>
<body>

  <section class="hero is-mono">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="title">
              Avanti Doubt Solver - Find Similar Questions!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column">

          <p class="title">Input</p>

          <div class="card">
            <div class="card-content">
              <div class="content">
                <div class="img-container">
                  <img id="img" src=""/>
                  <div class="result img-result"></div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <label for="file-input" class="custom-file-input">
                Upload Image!
              </label>
              <input type="file" style="display: none;"   accept="image/*" id="file-input" />
            </footer>
          </div>

        </div>


      </div>

      <div class="columns">
        <div class="column">
          <button class="btn save hide button is-info is-fullwidth is-medium" id="submit">
            <span style="display:none;">
              <span id="loading" class="icon"><i class="fas fa-spinner fa-pulse"></i></span>
              <span style="vertical-align:top;">Processing...</span>
            </span>
              <span id="standby" class="icon"><i class="fas fa-spinner fa-paper-plane"></i></span>
              <span style="vertical-align:top;">Submit</span>
          </button>
        </div>
      </div>
      <div class="columns">
        <div class="column" style="width:100%;">
          <p class="title">Output</p>
          <pre id="output" style="width:100%;overflow:scroll;">{}</pre>
        </div>
      </div>
    </div>

  </section>

  <section>
    <main class="page">
    <!-- leftbox -->
      <!-- <div class="box-2">
        <div class="result"></div>
      </div> -->
      <!--rightbox-->
      <!-- <div class="box-2 img-result hide">
        <img class="cropped" src="" alt="">
      </div> -->
      <!-- input file -->
      <div class="box">
        <div class="options hide">
        </div>
        <!-- save btn -->
      </div>
    </main>

  </section>


</body>

<script type="text/javascript" src="/assets/js/file_upload.js"></script>

</html>
